// ==============================
// Custom style
// 自定义样式
// ==============================

/** 添加网格背景 */
.single {
    .single-subtitle {
        color: #57606a;
    }

    .content {
        background-image: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0);
        background-size: 20px 20px;
        background-position: center;

        [data-theme='dark'] & {
            background-image: linear-gradient(90deg, rgba(195, 245, 215, .04) 3%, transparent 0), linear-gradient(1turn, rgba(195, 245, 215, .04) 3%, transparent 0);
        }
    }
}

h3,
h4 {
    /* 可根据需要修改标题级别 */
    border-left: 3.5px solid #42b983;
    /* 竖线的颜色和宽度 */
    padding-left: 10px;
    /* 标题文字与竖线的间距 */
    margin: 1em 0;
    /* 上下边距 */
}

li[data-task='tip'] {
    --fi-task-color: #a4f774;
    --fi-checkbox-color: #EA9E36;
}

.archive .taxonomy-cards {
    display: block;
    columns: 2 18rem;
    column-gap: clamp(2rem, 6vw, 5rem);

    .card-item {
        display: inline-block;
        width: 100%;
        min-height: 0;
        padding: 0 0 1.5rem;
        break-inside: avoid;
        page-break-inside: avoid;

        &:nth-child(n+3) {
            margin-top: 0;
        }
    }
}
